
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>



<form method="post" action="/Books">
    <label>Title</label>
    <input type="text" name="Title" />

    <label>ISBN</label>
    <input type="text" name="ISBN" />

    <input type="submit" value="Add" />

</form>