
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>



<form method="post" action="/Books/Add">
    <label>Title</label>
    <input type="text" name="title" />

    <label>ISBN</label>
    <input type="text" name="isbn" />

    <input type="submit" value="Add" />

</form>